body {
    background-color: rgb(192, 192, 192);
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(250, 206, 152);
}

.delete {
    visibility: hidden;
    background-color: aliceblue;
    color: rgb(223, 133, 133);
    margin-left: 360px;
    position: absolute;
    border: none;
    height: 5px;
}

ul {
    margin: auto;
    width: 400px;
    border: 1px solid rgb(162, 152, 152);
    box-shadow: 0px 0px 2px gray;
    padding: 0;
}

li {
    border-top: 1px solid grey;
    background-color: white;
    list-style: none;
    margin-left: 0px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

li:hover .delete{
    visibility: visible;
}

li:hover {
    background-color: aliceblue;
}

input {
    width: 100%;
    border: none;
    text-decoration-line: none;
    outline: none;
    padding: 5px;
}




